<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/main.css">
	<title>Log & Learn - Edit Log</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>Edit Log</h1>
		</div>
	</header>

	<main role="main">

		<section class="main-contain">

			<section class="render-log-section edit-log-section">
				<form class="logForm">
					<label for="title">Title</label><br>
					<input type="text" name="title" id="edit-title" required /><br>
					<label for="content">Content</label><br>
					<textarea id="edit-content" name="textarea" required></textarea><br>
					<label for="tag">Tag</label><br>
					<input type="text" name="tag" id="edit-tag" /><br>
					<label>Log Content Type</label>
					<ul>
							<li>
								<input type="radio" id="filterConcepts" name="filterType" value="concept" />
								<label for="filterConcepts">Concepts</label>
							</li>
							<li>
								<input type="radio" id="filterGoals" name="filterType" value="goal" />
								<label for="filterGoals">Goals & Objectives</label>
							</li>
							<li>
								<input type="radio" id="filterExamples" name="filterType" value="example" />
								<label for="filterExamples">Examples</label>
							</li>
							<li>
								<input type="radio" id="filterQuestions" name="filterType" value="question" />
								<label for="filterQuestions">Questions</label>
							</li>
							<li>
								<input type="radio" id="filterAnalogies" name="filterType" value="analogy" />
								<label for="filterAnalogies">Analogies & Connections</label>
							</li>
							<li>
								<input type="radio" id="filterResources" name="filterType" value="resource" />
								<label for="filterResources">Resources</label>
							</li>
							<li>
								<input type="radio" id="filterIdeas" name="filterType" value="idea" />
								<label for="filterIdeas">New Ideas</label>
							</li>
							<li>
								<input type="radio" id="filterAccomplishments" name="filterType" value="accomplishment" />
								<label for="filterAccomplishments">Accomplishments & Inspiration</label>
							</li>
						</ul>

					<button type="submit" name="update" id="updateLog">Update Log</button>
					<button type="button" name="delete" id="deleteLog">Delete Log</button>
				</form>
			</section>

		</section>
		

	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/Data.js"></script>
	<script type="text/javascript" src="/editLog.js"></script>

</body>