	<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Learning a new subject can be hard, but by maintaining a learning log you can easily record and reference journal-like entries that will help you maximize your learning, reflect on your progress and maintain productivity.">
	<link href="https://fonts.googleapis.com/css?family=Ruda:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/main.css">
	<link rel="icon" type="image/png" href="..`/public/002-log-file-format.png" sizes="16x16">
	<title>Log & Learn - Edit Log</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>Edit Log</h1>
		</div>
	</header>

	<main role="main">

		<section class="main-contain">

			<section class="render-log-section edit-log-section">
				<form class="log-form">
					<label for="title">Title</label><br>
					<input type="text" name="title" id="edit-title" required /><br>
					<label for="content">Content</label><br>
					<textarea id="edit-content" name="textarea" required></textarea><br>
					<label for="tag">Tag</label><br>
					<input type="text" name="tag" id="edit-tag" /><br>
					<label>Log Content Type</label>
					<ul id="edit-type">
							<li tabindex="0">
								<input type="radio" id="filter-concepts" name="filter-type" value="concept" />
								<label for="filter-concepts">Concepts</label>
							</li>
							<li tabindex="0">
								<input type="radio" id="filter-questions" name="filter-type" value="question" />
								<label for="filter-questions">Questions</label>
							</li>
							<li tabindex="0">
								<input type="radio" id="filter-examples" name="filter-type" value="example" />
								<label for="filter-examples">Examples</label>
							</li>
							<li tabindex="0">
								<input type="radio" id="filter-goals" name="filter-type" value="goal" />
								<label for="filter-goals">Goals & Objectives</label>
							</li>
							<li tabindex="0">
								<input type="radio" id="filter-improvements" name="filter-type" value="improvement" />
								<label for="filter-improvements">Needs Improvement</label>
							</li>
							<li tabindex="0">
								<input type="radio" id="filter-analogies" name="filter-type" value="analogy" />
								<label for="filter-analogies">Analogies & Connections</label>
							</li>
							<li tabindex="0">
								<input type="radio" id="filter-resources" name="filter-type" value="resource" />
								<label for="filter-resources">Resources</label>
							</li>
							<li tabindex="0">
								<input type="radio" id="filter-accomplishments" name="filter-type" value="accomplishment" />
								<label for="filter-accomplishments">Accomplishments & Inspiration</label>
							</li>
							<li tabindex="0">
								<input type="radio" id="filter-ideas" name="filter-type" value="idea" />
								<label for="filter-ideas">New Ideas</label>
							</li>
						</ul>

					<button type="submit" name="update" id="update-log">Update Log</button>
					<button type="button" name="delete" id="delete-log">Delete Log</button>
				</form>
			</section>

		</section>
		

	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/Data.js"></script>
	<script type="text/javascript" src="/editLog.js"></script>

</body>