<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/main.css">
	<title>Learning Log - Edit Log</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>Learning Log - Edit Log</h1>
		</div>
	</header>

	<main role="main">

		<section class="render-log-section">
			<form class="logForm">
				<label for="title">Title</label><br>
				<input type="text" name="title" id="edit-title" required /><br>
				<label for="content">Content</label><br>
				<textarea id="edit-content" name="textarea" required >  </textarea><br>
				<label for="tag">Tag</label><br>
				<input type="text" name="tag" id="edit-tag" /><br>
				<button type="submit" name="save" id="saveLog">Save Log</button>
				<button type="button" name="delete" id="deleteLog">Delete Log</button>
			</form>
		</section>
		

	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/Data.js"></script>
	<script type="text/javascript" src="/editLog.js"></script>

</body>