	<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="main.css">
	<title>Learning Log</title>
</head>
<body>

	<header role="banner" class="index">
		<div>
			<h1>Learning Log</h1>
		</div>
		<p>Learning a new subject can be hard, but by maintaining a learning log you can easily record and reference journal-like entries that will help you maximize your learning, reflect on your progress and maintain productivity.</p>
	</header>
	
	<main role="main">

		<section class="main-contain">

			<section class="benefits">
				<h1>Here are some examples of good things you can track with a learning log:</h1>
				<ul>
					<li>Key concepts you've learned</li>
					<li>Questions about concepts you don't understand yet</li>
					<li>Examples or modes of thought that have helped illuminate a concept for you</li>
					<li>Areas you can improve upon</li>
					<li>Connections between different concepts and ideas</li>
					<li>Goals and accomplishments</li>
					<li>Words of wisdom and motivational ideas</li>
					<li>New ideas and good resources that you'd like to come back to later</li>
				</ul>
			</section>

			<div class="newPage-container">
				<a href="/view-logs" class="newPage">Create & Manage Your Log Entries</a>
			</div>

		</section>

	</main>

</body>
</html>