<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="main.css">
	<title>Learning Log</title>
</head>
<body>

	<header role="banner">
		<div>
			<h1>Learning Log</h1>
			<p>Learning a new subject can be hard, but by maintaining a Learning Log you can easily record and reference journal-like entries that will help you retain the right information, track your progress and maintain productivity.</p>
		</div>
	</header>
	
	<main role="main">

		<section class="benefits">
			<p>Retain the important information and filter out the bad.</p>
			
			<p>Keep track of new ideas and good resources that you'd like to come back to later.</p>

			<p>Track your progress for later reflection and to ensure that you're staying on track.</p>

			<p>Track your notable achievements and sage wisdom you encounter to help keep you motivated.</p>

			<p>Record aha moments or anything that helps you achieve a deeper understanding, such as specific modes of thought, analogies or examples.</p>
			
			<p>Add tags to each entry so that you can easily sort and find information later.</p>

		</section>

		<div class="newPage-container">
			<a href="/view-logs" class="newPage">Create & Manage Your Log Entries</a>
		</div>

	</main>

</body>
</html>