<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="main.css">
	<title>Learning Log - Manage Your Logs</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>Learning Log - Manage Your Logs</h1>
		</div>
	</header>

	<main role="main">

		<section>
			<button>Add New Log</button>
		
			<h2>Logs</h2>
		</section>


	</main>
</body>