<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="main.css">
	<title>Learning Log - Manage Your Logs</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>Learning Log - Manage Your Logs</h1>
		</div>
	</header>

	<main role="main" class="logs-main">

		<section class="newLog">
			<button>Add New Log</button>
		
		</section>

		<section class="logHistory">
			<h2>Log History</h2>
			<div class="filter-div">
				<form name="filter">
					<label>Filter Results</label>
					<select>
						<option disabled selected> -- select an option -- </option>
						<option value"new_old">Newest to Oldest</option>
						<option value"old_new">Oldest to Newest</option>
						<option value"a_z">A-Z by Title</option>
						<option value"z_a">Z-A by Title</option>
						<option value"tags">By Tags</option>
					</select>
				</form>
			</div>
		</section>


	</main>
</body>