<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="main.css">
	<title>Learning Log - Manage Your Logs</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>Learning Log - Manage Your Logs</h1>
		</div>
	</header>

	<main role="main" class="logs-main">

		<section class="newLog log-section">
			<a href="/add-log" class="newPage">Add/Edit Log</a>
		
		</section>

		<section class="logHistory log-section">

			<h2>Log History</h2>
			<section class="filter-section">
				<form name="filter">
					<label>Sort Results</label>
					<select>
						<option value="title_new" class="sortTitle_new">Newest to Oldest</option>
						<option value="title_old" class="sortTitle_old">Oldest to Newest</option>
						<option value="tag_a" class="sortTag_a">A-Z by Tag</option>
						<option value="tag_b" class="sortTag_z">Z-A by Tag</option>
					</select>
				</form>
			</section> 

			<section class="logList-section">
				
			</section>

		</section>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/ajax.js"></script>
	</main>
</body>