<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/main.css">
	<title>Learning Log - Manage Your Logs</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>Manage Your Logs</h1>
		</div>
	</header>

	<main role="main" class="centerContent">

		<section class="main-contain">
			<!-- change from section to div or span? -->
			<section class="newLog log-section">
				<a href="/add-log" class="newPage">Add Log</a>
			</section>

			<section class="log-section">
				<h2>Log History</h2>
				<p>Select a log to view or edit its content</p>
				<section class="filter-section">
					<form name="filter">
						<label>Sort Results</label>
						<select>
							<option value="log_newest" class="sortLog_newest">Newest to Oldest</option>
							<option value="log_oldest" class="sortLog_oldest">Oldest to Newest</option>
							<option value="tag_a" class="sortTag_a">A-Z by Tag</option>
							<option value="tag_z" class="sortTag_z">Z-A by Tag</option>
						</select>
					</form>
				</section> 

				<section class="render-log-section">
					
				</section>
			</section>
		</section>

	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/Data.js"></script>
	<script type="text/javascript" src="/Render.js"></script>
	<script type="text/javascript" src="/viewLogs.js"></script>

</body>