<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Learning a new subject can be hard, but by maintaining a learning log you can easily record and reference journal-like entries that will help you maximize your learning, reflect on your progress and maintain productivity.">
	<link href="https://fonts.googleapis.com/css?family=Ruda:700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/main.css">
	<title>Log & Learn - Manage Your Logs</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>Manage Your Logs</h1>
		</div>
	</header>

	<main role="main" class="center-content">

		<section class="main-contain">

			<div class="new-page" tabindex="0">
				<a href="/add-log">Add Log</a>
			</div>

			<section class="log-section">
				<h2>Log History</h2>
				<p>Select a log to view or edit its content</p>

				<section class="sort-section">
					<form>
						<h3>Sort Results</h3>
						<select id="sort-select">
							<option value="log_newest" class="sortLog_newest">Newest to Oldest</option>
							<option value="log_oldest" class="sortLog_oldest">Oldest to Newest</option>
							<option value="tag_a" class="sortTag_a">A-Z by Tag</option>
							<option value="tag_z" class="sortTag_z">Z-A by Tag</option>
						</select>
					</form>
				</section> 

				<section class="filter-section">
					<form>
						<h3>Filter Logs by Type</h3>
							<select id="filter-select">
								<option value="all" id="filter-all">All Types</option>
								<option value="concept" id="filter-concepts">Concepts</option>
								<option value="question" id="filter-questions">Questions</option>
								<option value="example" id="filter-examples">Examples</option>
								<option value="goal" id="filter-goals">Goals & Objectives</option>
								<option value="improvement" id="filter-improvements">Needs Improvement</option>
								<option value="resource" id="filter-resources">Resources</option>
								<option value="analogy" id="filter-analogies">Analogies & Connections</option>
								<option value="accomplishment" id="filter-accomplishments">Accomplishments & Inspiration</option>
								<option value="idea" id="filter-ideas">New Ideas</option>
							</select>
					</form>
				</section> 

				<section class="render-log-section" aria-live="assertive">
					<div class="render-log-error"></div>
					<table id="log-table" >
						<tr id="table-head-row">
							<th class="col-title">Title</th>
							<th class="col-tag">Tag</th>
							<th class="col-type">Type</th>
							<th class="col-date">Last Saved</th>
						</tr>
							
						<!-- log data inserts here -->

					</table>
				</section>
			</section>
		</section>

	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/Data.js"></script>
	<script type="text/javascript" src="/Render.js"></script>
	<script type="text/javascript" src="/viewLogs.js"></script>

</body>