<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Learning a new subject can be hard, but by maintaining a learning log you can easily record and reference journal-like entries that will help you maximize your learning, reflect on your progress and maintain productivity.">
	<link href="https://fonts.googleapis.com/css?family=Ruda:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/main.css">
	<title>Log & Learn - View/Edit Log</title>
</head>
<body>
	<header role="banner">
		<div>
			<h1>View/Edit Log</h1>
		</div>
	</header>

	<main role="main" class="view-log-page">

		<section class="main-contain">

			<section class="render-log-section">
				
			</section>
			<button type="button" name="edit" id="edit-log">Edit Log</button>
			<button type="button" name="return" id="return-btn">Return to Logs</button>

		</section>
	
	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/Data.js"></script>
	<script type="text/javascript" src="/Render.js"></script>
	<script type="text/javascript" src="/viewLog.js"></script>


</body>