* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Quattrocento', serif;
}
header {
	padding: 5px 0 10px;
	font-size: 1.55em;
}
header h1 {
	text-align: center;
	margin: 10px 0 0;
}
body {
	width: 85%;
	margin: 0 auto;
}
main {	
	font-size: 1.4em;
}
.centerContent {
	text-align: center;
}
.log-section {
	margin: 40px 0;
}
.log-section p {
	margin: 0 0 10px;
}
.newPage {
	text-decoration: none;
	padding: 10px 15px;
	border: 2px solid;
}
.newPage-container {
	margin: 20px auto 0;
	text-align: center;
}
.newPage:hover, button:hover {
	background-color: #FFCE00;
	cursor: pointer;
}
button {
	padding: 10px;
	margin: 25px 0 10px;
	border-radius: 3px;
	font-size: .85em;
}
select {
	font-size: .7em;
}
label {
	font-size: 1.25em;
}
a {
	color: black;
}
.successMsg {
	background-color: #FFCE00;
}
.benefits p {
	margin: 5px auto;
	padding: 10px 30px;
	text-align: center;
}
.benefits p:nth-child(odd) {
	border: 2px solid #2E64FE;
}
.benefits p:nth-child(even) {
	border: 2px solid #FA5882;
}
.render-log-section div {
	border: 2px solid;
	margin: 5px;
	padding: 10px;
}
.render-log-section div:hover {
	cursor: pointer;
}
.logEntry p:not(.logId) {
	display: inline-block;
	margin: 0 0 5px;
}
.viewLog span, .logEntry span {
	font-weight: bolder;
}
.viewLog p {
	margin: 0 0 10px;
}
label {
	display: inline-block;
	margin: 10px 0 0;
}
.logForm input, textarea {
	padding: 5px;
	font-size: .75em;
	border: 1px solid;
	border-radius: 3px;
}
textarea {
	width: 100%;
	height: 200px;	
}
.logForm input[name="title"] {
	height: 35px;
	width: 75%
}
.logForm input[name="tag"] {
	height: 35px;
	width: 55%
}
.logForm  input[name="submit"] {
	margin: 25px 0;
}



