* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Quattrocento', serif;
}
body {
	/*background-color: #1E1905;*/
	/*background-image: url('/images/randall-honold-505292-unsplash.jpg');
	background-size: cover;
	background-repeat: repeat;*/ 
	height: 100%;
	width: 85%;
	margin: 0 auto;
}
header {
	font-size: 1.55em;
	margin: 20px 0 15px;
	border: 2px solid #424242;
}
header.index {
	margin: 100px 0 0 0;
}
header h1 {
	text-align: center;
	padding: 7px 0;
	background-color: white;
}
header p {
	background-color: white;
	padding: 0 50px 7px;
}
.filter-section label {
	margin: 0 0 10px;
}
.benefits {
	background-color: white;
	margin: 30px 0 0 0;
	padding: 10px;
	border: 2px solid #424242;
}
.benefits h1 {
	margin: 10px 0 0 0;
	text-align: center;
	font-weight: bolder;
}
.benefits ul {
	margin: 5px auto;
	list-style-type: none;
	text-align: center;
}
.benefits li {
	margin: 7px 0;
}
/*.benefits li:nth-of-type(even) {
	color: #819FF7;
}
.benefits li:nth-of-type(odd) {
	color: #F7819F;
}*/
.main-contain {	
	font-size: 1.4em;
}
.centerContent {
	text-align: center;
}
.log-section {
	margin: 40px 0;
}
.log-section p {
	margin: 0 0 10px;
}
.newPage {
	text-decoration: none;
	padding: 10px 15px;
	border: 2px solid #F4DF89;
	background-color: white;
}
.newPage-container {
	margin: 40px auto 100px;
	text-align: center;
}
.newPage:hover, button:hover {
	background-color: #ffde4d;
	cursor: pointer;
}
.viewLog {
	background-color: white;
}
button {
	padding: 10px;
	margin: 25px 0 10px;
	border: 2px solid #F4DF89;
	font-size: .85em;
}
button[name='return'], button[name='delete'] {
	margin-left: 20px;
}
select {
	font-size: .7em;
}
label {
	font-size: 1.25em;
}
a {
	color: black;
}
.successMsg {
	/*background-color: #FFCE00;*/
}
.log-section {
	background-color: white;
	padding: 10px;
	border: 2px solid;
}
.render-log-section div {
	border: 2px solid;
	margin: 5px;
	padding: 10px;
}
.render-log-section div:hover {
	cursor: pointer;
}
.viewLogRender div:hover {
	cursor: initial;
}
.newLog {
	margin: 40px 0 0 0;
}
.logEntry {
	background-color: white;
	border: 2px solid #ff9aac;
}
.logEntry p:not(.logId) {
	display: inline-block;
	margin: 0 0 5px;
}
.viewLog span, .logEntry span {
	font-weight: bolder;
}

.viewLog p {
	margin: 0 0 10px;
}
label {
	display: inline-block;
	margin: 10px 0 0;
}
.logForm input, textarea {
	padding: 5px;
	font-size: .75em;
	border: 1px solid;
	border-radius: 3px;
	margin: 0 0 15px 0;
}
textarea {
	width: 100%;
	height: 200px;	
}
.logForm input[name="title"] {
	height: 35px;
	width: 75%
}
.logForm input[name="tag"] {
	height: 35px;
	width: 55%
}
.logForm  input[name="submit"] {
	margin: 25px 0;
}



